<!-- Extension initialized with https://github.com/virejdasani/Chrome-Extension-Boilerplate -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" href="assets/icon.png" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Tajawal:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <title>Your extension name</title>
  </head>

  <body>
    <!-- <iframe
      src="https://timesprayer.com/widgets.php?frame=3&amp;lang=en&amp;name=amman&amp;time=0&amp;fcolor=FFFFFF&amp;scolor=000000&amp;tcolor=D3D3D3&amp;frcolor=13C9E8"
      style="
        border: none;
        overflow: hidden;
        width: 90%;
        height: 225px;
        box-shadow: none;
      "
    ></iframe> -->
    <table>
      <tr>
        <td>Duhr</td>
        <td>16:05</td>
      </tr>
      <tr>
        <td>Asr</td>
        <td>17:05</td>
      </tr>
    </table>
    <script src="/popup.js"></script>
  </body>
</html>

<!-- https://www.youtube.com/watch?v=_7F8sppax54&ab_channel=Virej -->
<!-- https://www.youtube.com/watch?v=0n809nd4Zu4&ab_channel=freeCodeCamp.org -->
